name: Check Code

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Check Code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Install dependencies
        run: npm install

      - name: Check for Uncommented Localhost URL
        run: |
          if grep -q '//   baseURL: "http://dontpushthistomain:5000/api"' src/services/api.ts; then
            echo "Success: Found commented dontpushthistomain URL in your code."
            exit 0
          else
            exit 1
          fi
      - name: Set Status Check
        id: status-check
        run: echo ::set-output name=check::failure::message=Uncommented localhost URL found::conclusion=failure
