name: Prevent Pushing Uncommented localhost URLs

on:
  push:
    branches:
      - main

jobs:
  check-local-host:
    runs-on: ubuntu-latest

    steps:
      - name: Check for Uncommented localhost URLs
        id: check
        run: |
          #!/bin/bash
          if grep -R "  http://dontpushthistomain:5000/api'," src/services/api.ts; then
            echo "Uncommented localhost URLs found. Push not allowed."
            exit 1
          else
            echo "No uncommented localhost URLs found. Push is allowed."
          fi
